#ficha-producto{
    display: grid;
    grid-template-columns: 60% 40%;
    #ficha-producto-relacionados{
      grid-column: 1 / 3;
    }
    #producto-nombre{
      font-size: 2.5rem;
    }
    #producto-precio{
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.1rem;
      font-weight: 200;
      color: #555;
      span{
        font-size: 3rem;
        color: #000000;
      }    
    }
    #producto-marca{
        color: white;
        background-color: #790028;
        cursor: pointer;
        padding: .5rem 1rem;
        border-radius: .3rem;
    }
    #producto-categoria{
        color: white;
        background-color: #008da0;
        cursor: pointer;
        padding: .5rem 1rem;
        border-radius: .3rem;
    }
    #boton-comprar{
      margin-bottom: 1rem;
      color: white;
      border: 2px solid #00af00;
      background-color: #00af00;
      font-size: 1rem;
      padding: .5rem 1rem;
      border-radius: .3rem;
      cursor: pointer;
    }
    #imagen-principal-container{
      text-align: center;
    }
    #thumbs-container{
      display: flex;
      width: 100%;
      gap: .5rem;
      margin: 1rem 0;
      padding: 1rem 0;
      border-top: 1px solid #3d3d3d;
      border-bottom: 1px solid #3d3d3d;
      justify-content: center;
      div{
  
        flex-grow: 1;
        flex-basis: 0;
        min-width: 120px;
        img{
  
          border: 1px solid transparent;
    
          cursor: pointer;
          &.selected{
            border: 1px solid black;
          }
        }
      }    
    }
  }