#listado-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 1rem 0;
}
#listado-productos .miniatura-producto {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  width: 23%;
  background-color: #f5f5f5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.3rem;
}
#listado-productos .miniatura-producto.destacado::after {
  content: "Destacado";
  position: absolute;
  top: 10px;
  left: -1rem;
  padding: 0.2rem 0.3rem;
  background-color: rgb(32, 160, 0);
  color: white;
  -webkit-box-shadow: 1px 1px 3px #666;
          box-shadow: 1px 1px 3px #666;
}
#listado-productos .miniatura-producto.destacado::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -1rem;
  display: block;
  height: 17px;
  width: 0.4rem;
  padding: 0.2rem 0.3rem;
  background-color: #317900;
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}
#listado-productos .miniatura-producto.oferta::after {
  content: "Oferta";
  position: absolute;
  top: 10px;
  left: -1rem;
  padding: 0.2rem 0.3rem;
  background-color: rgb(230, 12, 157);
  color: white;
  -webkit-box-shadow: 1px 1px 3px #666;
          box-shadow: 1px 1px 3px #666;
}
#listado-productos .miniatura-producto.oferta::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -1rem;
  display: block;
  height: 17px;
  width: 0.4rem;
  padding: 0.2rem 0.3rem;
  background-color: rgb(160, 7, 109);
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
}
#listado-productos .miniatura-producto .miniatura-nombre {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}
#listado-productos .miniatura-producto .miniatura-precio {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}
#listado-productos .miniatura-producto .miniatura-descripcion {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}
#listado-productos .miniatura-producto .miniatura-marca-categoria {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#listado-productos .miniatura-producto .miniatura-marca-categoria .categoria {
  color: white;
  background-color: #008da0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
#listado-productos .miniatura-producto .miniatura-marca-categoria .marca {
  color: white;
  background-color: #790028;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
#listado-productos .miniatura-producto .boton-comprar {
  color: white;
  border: 2px solid #00af00;
  background-color: #00af00;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}/*# sourceMappingURL=list.css.map */