* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
body > header .container {
  width: clamp(320px, 90vw, 1200px);
}
body > main {
  width: clamp(320px, 90vw, 1200px);
  margin: 0 auto;
}
body > main .container {
  width: clamp(320px, 90vw, 1200px);
}
body > footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin: 3rem auto 1rem auto;
  width: clamp(320px, 90vw, 1200px);
}
body > footer .container > div {
  width: clamp(320px, 33% - 1rem, 100%);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.titulo-seccion {
  width: 100%;
}

.buy-button {
  border-radius: 0.3rem;
  border: 2px solid #00af00;
  color: white;
  background-color: #00af00;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.buy-button:hover {
  background-color: white;
  color: #00af00;
}

.view-button {
  border-radius: 0.3rem;
  border: 2px solid #1a94f8;
  color: white;
  background-color: #1a94f8;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.view-button:hover {
  background-color: white;
  color: #1a94f8;
}

#bread-crumbs {
  display: none;
  margin: 1rem 0;
  padding: 0.5rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.common-version {
  font-size: 1;
}

#resetCart {
  margin-bottom: 1rem;
  color: white;
  border: 2px solid #00af00;
  background-color: #00af00;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-right: 1rem;
}

#goCheckout {
  margin-bottom: 1rem;
  color: white;
  border: 2px solid #1a94f8;
  background-color: #1a94f8;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

body > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #016A7D;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
body > header .container {
  display: grid;
  grid-template-columns: 20% auto 55px 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body > header .header-searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body > header .header-searcher label::after {
  content: "";
  display: block;
  padding: 0.5rem;
  height: 40px;
  width: 40px;
  background-color: #d6edff;
  background-image: url("../images/icons/lupa.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0.3rem 0.3rem 0;
}
body > header .header-searcher input {
  width: 50%;
  font-size: 1rem;
  padding: 0.3rem;
  border: 1px solid #d6edff;
  border-right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
  outline: 0;
}
body > header .header-searcher input:focus {
  border-color: #1a94f8;
}
body > header .header-users {
  margin-right: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body > header .header-users p {
  margin: 0;
  position: absolute;
  margin-top: 4rem;
}
body > header .header-users .icon {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 0.2rem;
  padding: 0.5rem;
  background-color: #d6edff;
  border-radius: 0.2rem;
  cursor: pointer;
}
body > header .header-users .icon-user::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("../images/icons/user.png");
  background-repeat: no-repeat;
}
body > header .header-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body > header .header-cart .icon {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 0.2rem;
  padding: 0.5rem;
  background-color: #d6edff;
  border-radius: 0.2rem;
  cursor: pointer;
}
body > header .header-cart .icon-cart {
  margin-right: 1rem;
}
body > header .header-cart .icon-cart::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("../images/icons/cart.png");
  background-repeat: no-repeat;
}
body > header .header-cart .items-counter {
  position: absolute;
  top: -1rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #1a94f8;
  border-radius: 50%;
  color: white;
}
body > header .header-cart .cart-container {
  position: absolute;
  top: 2.4rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: whitesmoke;
  padding: 0.5rem;
  width: clamp(320px, 100% + 15vw, 100vw);
}
body > header .header-cart .cart-container .cart-product-row {
  display: grid;
  grid-template-columns: calc(70% - 60px) 30% 40px 20px;
  margin: 1rem 0;
}
body > header .header-cart .cart-container .cart-product-row .product-price {
  text-align: right;
  padding-right: 0.5rem;
}
body > header .header-cart .cart-container .cart-product-row .delete-btn {
  min-width: 20px;
  height: 20px;
  background-image: url("../images/icons/trash.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body > header .header-cart .cart-container.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-principal {
  margin-top: 1rem;
}
#nav-principal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  padding: 0;
  margin: 0;
}
#nav-principal ul li {
  list-style: none;
}
#nav-principal ul li.nav-principal-link {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
#nav-principal ul li.nav-principal-link.hover {
  background-color: #e0f0fe;
}
#nav-principal ul li.nav-principal-link.actual {
  background-color: #1a94f8;
  color: white;
}